font-family: 'Anton', sans-serif;
font-family: 'Bangers', system-ui;
font-family: 'Honk', system-ui;
font-family: 'Londrina Solid', sans-serif;
font-family: 'Nova Square', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Pirata One', system-ui;
font-family: 'Press Start 2P', system-ui;
font-family: 'Rancho', cursive;
font-family: 'Silkscreen', sans-serif;
font-family: 'Mountains of Christmas', serif;
