html {
  padding: 0px;
  margin: 0px;
  background:rgb(186, 222, 236);
  height: 100vh;
  span {
    font-family: 'Nova Square', sans-serif;
    font-weight: bold;
  }
}

body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

.startScreen {
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: url("../assets/img/backgrounds/bg_cbt_0.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  #title-game {
    h1 {
      font-family: 'Honk', system-ui;
      font-size: 140px;
      text-align: center;
      margin: 0px;
    }
  }
  #gameStartBtn {
    font-family: 'Honk', system-ui;
    font-size: 70px;
    text-align: center;
    margin: 0px;

  }
  #gameInfos {
    font-family: 'Nova Square', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: white;
    text-shadow: 4px 4px 4px #020b0d;
  }
}

#mainScreen {
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.actions-btn-container {
  display: none;
  width: 400px;
  margin: 0 auto;
  .actions-btn {
    border: 4px solid white;
    border-radius: 20px;
    padding: 5px 8px;
    width: 110px;
    text-align: center;
    margin: 20px auto;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    -webkit-box-shadow: inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0);
  }
  #btn-atk {
    background: yellow;
    &:hover {
      background: orange;
    }
  }
  #btn-mag {
    background: rgb(223, 107, 223);
    &:hover {
      background: purple;
    }
  }
  #btn-def {
    background: lightblue;
    &:hover {
      background: lightseagreen;
    }
  }
  .actions-btn-images{
    width:32px;
    border-radius: 10px;
  }
}
#timer {
  margin-top: 20px;
}

#timer, #turn_counter {
  span {
    color: white;
    text-shadow: 1px 2px 2px #020b0d;
    font-size:24px;
  }
}
.shadowed-text {
  color: white;
  text-shadow: 1px 2px 2px #020b0d;
}




.characters-zones-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .spriteUnknown {
    width: 64px;
  }
  .characters-zones{
    margin: 0 5px;
  }
  // .characters-zones-life-bg {
  //   width: 324px;
  //   height: 32px;
  //   // border: 3px solid whitesmoke;
  //   background: rgba(241, 228, 188, 0.864);

  // }
  .bars {
    height: 64px;
    display: flex;
    flex-direction: column;
  }
  #cz1 {
    #czl-bg1 {
      border: 3px solid white;
      border:4px solid whitesmoke;
      height: 29px;
      width:324px;
      background : gray;
      border-bottom-right-radius: 20px;
    }
    span {
      font-family: 'Nova Square', sans-serif;
      font-weight: bold;
      font-size: 20px;
      width: 392px;
      display: flex;
      justify-content: center;
      border: 4px solid whitesmoke;
      background: #69189E;
      background: -moz-linear-gradient(top, #69189E 0%, #743A78 50%, #C566C4 100%);
      background: -webkit-linear-gradient(top, #69189E 0%, #743A78 50%, #C566C4 100%);
      background: linear-gradient(to bottom, #69189E 0%, #743A78 50%, #C566C4 100%);
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      border-bottom:none;
      color: white;
      text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 2px 2px 2px rgba(206,89,55,0);
    }
    #life-1 {
      width: 324px;
      height: 29px;
      float: right;
      border-bottom-right-radius: 16px;
    }
    #sprite-1 {
      width: 64px;
      height: 64px;
      background : rgba(251, 250, 222, 0.615);
      border: 4px solid whitesmoke;
      border-bottom-left-radius: 20px;
      border-right:none;
      overflow: hidden;
    }
    #player_name-1 {
      font-size: 20px;
      width: 245px;
      height: 29px;
      border: 3px solid whitesmoke;
      border:4px solid whitesmoke;
      border-top:none;
      border-bottom-right-radius: 30px;
      padding: 1px 5px;
      background : white;
      text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 2px 2px 2px rgba(206,89,55,0);
      color: black;
      display:flex;
      align-items: center;
    }
  .victory_counter_player1 {
      width: 12px;
      height: 12px;
      border: 3px solid black;
      background: rgb(255, 255, 255);
      margin-top: 5px;
      }

  }
  #cz2{
    #cz2-bg2 {
      border: 3px solid white;
      border:4px solid whitesmoke;
      height: 29px;
      width:324px;
      border-bottom-left-radius: 20px;
      background : gray;
    }

    span {
      font-family: 'Nova Square', sans-serif;
      font-weight: bold;
      font-size: 20px;
      width: 392px;
      display: flex;
      margin-right:5px;
      justify-content: center;
      border: 4px solid whitesmoke;
      background: #69189E;
      background: -moz-linear-gradient(top, #69189E 0%, #743A78 50%, #C566C4 100%);
      background: -webkit-linear-gradient(top, #69189E 0%, #743A78 50%, #C566C4 100%);
      background: linear-gradient(to bottom, #69189E 0%, #743A78 50%, #C566C4 100%);
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      border-bottom:none;
      color: white;
      text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 2px 2px 2px rgba(206,89,55,0);
    }
    #life-2 {
      width: 324px;
      height: 29px;
      border-bottom-left-radius: 16px;
    }
    #sprite-2 {
      width: 64px;
      height: 64px;
      background : rgba(251, 250, 222, 0.615);
      border: 4px solid whitesmoke;
      border-bottom-right-radius: 20px;
      border-left:none;
      overflow: hidden;
      order:1;
    }
    #player_name-2 {
      order:3;
      font-size: 20px;
      width: 245px;
      height: 29px;
      border: 3px solid whitesmoke;
      border:4px solid whitesmoke;
      border-top:none;
      border-bottom-left-radius: 30px;
      padding: 1px 5px;
      background : white;
      text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 2px 2px 2px rgba(206,89,55,0);
      color: black;
      display:flex;
      align-items: center;
      justify-content: right;
    }
    .victory_counter_player2 {
      width: 12px;
      height: 12px;
      border: 3px solid black;
      background: rgb(255, 255, 255);
      margin-top: 5px;
      order:2;
    }
  }

  .flex-name-victory {
    display: flex;
    justify-content: space-between;
  }

  .flex-bars-sprite {
    display: flex;
    align-items:flex-start;
  }

  .victory-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40px;
    margin: 0 10px;
  }
// PLAYER UI UPBAR COLOR //-------------------------------



// LIFE BAR COLOR //-------------------------------
.lifebar-green {
  background: #31FF41;
  background: -moz-linear-gradient(top, #31FF41 0%, #91A41E 74%, #BCC54D 100%);
  background: -webkit-linear-gradient(top, #31FF41 0%, #91A41E 74%, #BCC54D 100%);
  background: linear-gradient(to bottom, #31FF41 0%, #91A41E 74%, #BCC54D 100%);
}

.lifebar-orange {
  background: #FFBE05;
  background: -moz-linear-gradient(top, #FFBE05 0%, #A49F69 74%, #C5A3A2 100%);
  background: -webkit-linear-gradient(top, #FFBE05 0%, #A49F69 74%, #C5A3A2 100%);
  background: linear-gradient(to bottom, #FFBE05 0%, #A49F69 74%, #C5A3A2 100%);
}

.lifebar-red {
  background: #FF0000;
  background: -moz-linear-gradient(top, #FF0000 0%, #CC7846 73%, #CE6161 100%);
  background: -webkit-linear-gradient(top, #FF0000 0%, #CC7846 73%, #CE6161 100%);
  background: linear-gradient(to bottom, #FF0000 0%, #CC7846 73%, #CE6161 100%);
}
//-------------------------------------------------


  .characters-zones-versus{
    font-size:30px;
    // border: 3px solid blue;
    width : 300px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;


    #turn_counter {
    }
    #versus {
      #img_versus {
        width: 100px;
      }
  }
  }
}

.text-zone-container {
  border: 4px solid white;
  border-radius: 5px;
  background: rgb(94, 94, 92);
  width: 550px;
  height: 90px;
  margin: 20px auto 20px auto;
  padding: 10px;
  font-size: 20px;
}
.textColor_atk {
  color: yellow;
}
.textColor_mag {
  color: rgb(223, 107, 223);
}
.textColor_def {
  color: lightblue;
}

//Player Selector-----------------
.player_selector-container {
  display :flex;
  justify-content: center;
  width : 400px;
  margin : 0 auto;
  .player-portrait {
    width: 70px;
    height: 60px;
    border: 2px solid blue;
    margin: 0 10px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
    &:hover {
      box-shadow: rgb(32, 125, 175) 0px 8px 24px
    }
  }
}
.player-confirmation {
  width: 350px;
  height: 50px;
  margin: 20px auto;
  display : none;
  align-items: center;
  justify-content: space-around;

  .pc-yes, .pc-no {
    width: 35px;
    height: 35px;
    border: 1px solid blue;
    display : flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: rgb(223, 198, 153);
    &:hover {
      box-shadow: rgb(32, 125, 175) 0px 8px 24px;
      background: rgb(70, 157, 84);
    }
  }
}

//////////////////////////////////////
//Level Selector----------------------
/////////////////////////////////////////
.level_selector-container {
  display :flex;
  justify-content: center;
  flex-wrap: wrap;
  width : 700px;
  margin : 20px auto;
  .level {
    width: 130px;
    height: 70px;
    border: 3px solid white;
    margin: 5px 10px;
    border-radius: 10px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &:hover {
      box-shadow: rgb(32, 125, 175) 0px 8px 24px
    }
  }
}
.level-confirmation {
  width: 350px;
  height: 50px;
  margin: 20px auto;
  display : none;
  align-items: center;
  justify-content: space-around;

  .pc-yes, .pc-no {
    width: 35px;
    height: 35px;
    border: 1px solid blue;
    display : flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: rgb(223, 198, 153);
    &:hover {
      box-shadow: rgb(32, 125, 175) 0px 8px 24px;
      background: rgb(70, 157, 84);
    }
  }

}

///////////////// EFFECTS //////////////
.puffOut {
  animation-name: puffOut;
  animation-duration: 3s;
}

@-webkit-keyframes puffOut {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }
  100% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(2px);
  }
}

@keyframes puffOut {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }
  100% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(2px);
  }
}

//// MENU /////

.mainMenu {
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  #arcade {
    margin-left: 10px;
  }
  #versus {
    margin-left: 30px;
  }
  #bonus {
    margin-left: 50px;
  }
  #score {
    margin-left: 70px;
  }
  #options {
    margin-left: 90px;
  }
  #return {
    margin-left: 110px;
  }
  .menu {
    width: 250px;
    h2 {
      width: 250px;
      text-align: center;
      font-family: 'Honk', system-ui;
      font-size: 50px;
      margin: 10px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;

      border: 5px solid transparent;
      background-image: linear-gradient(to right, #69189E, #69189E), linear-gradient(to right, #69189E, #69189E);
      background-origin: border-box;
      background-clip: content-box, border-box;

      -webkit-box-shadow: 0px 0px 0px 5px lightblue, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 8px 6px 50px 11px rgba(255,255,255,0);
      box-shadow: 0px 0px 0px 5px lightblue, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 8px 6px 50px 11px rgba(255,255,255,0);
      transition: margin-left 330ms ease-in-out;
      &:hover {
        margin-left: 60px;
        background-image: linear-gradient(to right, gold, #69189E), linear-gradient(to right, gold, #69189E)
      }
    }
  }
}

//----------------------------//  //----------------------------//
//         ARCADE HTML        //  //         ARCADE HTML        //
//----------------------------//  //----------------------------//

//----------------------------//  //----------------------------//
//         COMBAT HTML        //  //         COMBAT HTML        //
//----------------------------//  //----------------------------//

#body-combat {
  background-image: url('../assets/img/backgrounds/bw_flame_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  border: 10px solid white;
  // -webkit-box-shadow: 0px 0px 0px 5px #00ffff, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0);
  // box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0);
height: 97vh;
}
//----------------------------//
//            MENU            //
//----------------------------//

#cb-html {
  overflow-x: hidden;
}

.cb-mainMenu {
  display:flex;
  justify-content: space-around;
  align-items: center;
  #cb-arcade {
    background-image: linear-gradient(to right, gold, #69189E), linear-gradient(to right, gold, #69189E);
  }
  h2 {
    width: 250px;
    text-align: center;
    font-family: 'Honk', system-ui;
    font-size: 20px;
    margin: 10px;
    // border-top-right-radius: 30px;
    // border-bottom-left-radius: 30px;

    border: 5px solid transparent;
    background-image: linear-gradient(to right, #69189E, #69189E), linear-gradient(to right, #69189E, #69189E);
    background-origin: border-box;
    background-clip: content-box, border-box;

    -webkit-box-shadow: 0px 0px 0px 5px lightblue, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 8px 6px 50px 11px rgba(255,255,255,0);
    box-shadow: 0px 0px 0px 5px lightblue, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 8px 6px 50px 11px rgba(255,255,255,0);
    transition: margin-left 330ms ease-in-out;
    &:hover {
      background-image: linear-gradient(to right, gold, #69189E), linear-gradient(to right, gold, #69189E)
    }
  }
  .cb-game-title {
    font-family: 'Honk', system-ui;
    font-size: 30px;
    text-align: center;
  }
  .text-zone-container {
    border: 4px solid white;
    border-radius: 5px;
    background: rgb(94, 94, 92);
    width: 550px;
    height: 80px;
    margin: 10px auto 20px auto;
    padding: 10px;
    font-size: 20px;
    color: white;
  }
}

//----------------------------//
//            CARDS           //
//----------------------------//

.screen-player-selector {

  display : flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}


.card {
  width: 350px;
  height: 450px;
  margin: 10px;
  font-family: 'Nova Square', sans-serif;
  background-image: url("../assets/img/backgrounds/gold_frame_vertical2.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding:20px 30px 20px 30px;
  color: white;
  text-shadow: 1px 2px 2px #020b0d;
  .player-infos {
    display :flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    img {
      border: 3px solid white;
      border-bottom-right-radius: 40px;
      margin-right: 5px;
      width: 250px;
      background: rgb(211, 211, 211, 0.450)

    }
    .player-infos-wrapper {
      height: 130px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: right;
      .player-infos-name {
        font-size: 22px;
        font-weight: bold;
      }
      .player-infos-story {
        font-size: 16px;
        text-align: right;


      }
    }
  }
  .stats-bar {
    width : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bar {
    width: 36%;
    border-bottom : 3px solid white;
  }
  .stats {
    width: 22%;
    span {
      font-size: 16px;
    }
  }

  .player-stats-wrapper {
    font-size: 20px;

    .player-stats {
      margin: 10px 0px;
      display : flex;
      align-items: center;
      .str-img, .mag-img, .def-img, .spe-img {
        display : flex;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
      }
      img {
        width: 40px;
      }
      .spe-img {
        img {
          width: 50px;
        }
      }
      .str-gauge-bg,.mag-gauge-bg,.def-gauge-bg {
        width:250px;
        height:20px;
        border:8px solid black;
        background: #FFFA4F;
        background: -moz-linear-gradient(top, #FFFA4F 0%, #EBE9BC 50%, #EBBB59 100%);
        background: -webkit-linear-gradient(top, #FFFA4F 0%, #EBE9BC 50%, #EBBB59 100%);
        background: linear-gradient(to bottom, #FFFA4F 0%, #EBE9BC 50%, #EBBB59 100%);



        .str-gauge,.mag-gauge,.def-gauge {
          width: 250px;
          -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, 5px 5px 15px 5px rgba(0,0,0,0);
          box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, 5px 5px 15px 5px rgba(0,0,0,0);
          .gauge-fill {
            height: 20px;
            margin-right: 40px;
            background: #26A0CE;
            background: -moz-linear-gradient(top, #26A0CE 0%, #185054 50%, #29AFC5 100%);
            background: -webkit-linear-gradient(top, #26A0CE 0%, #185054 50%, #29AFC5 100%);
            background: linear-gradient(to bottom, #26A0CE 0%, #185054 50%, #29AFC5 100%);
          }
        }
      }
      .spe-gauge {
        font-size: 22px;

      }
    }
  }
  .selector{
    display: flex;
    justify-content: space-around;

    .selector-yes{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 100px;
      background-image: url("../assets/img/elements/btn_yes.png");
      background-position:center;
      background-repeat: no-repeat;
      background-size: contain;
      &:hover {}
    }
    .selector-no {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 100px;
      background-image: url("../assets/img/elements/btn_no.png");
      background-position:center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
.arrow {
  img {
    width: 70px;
  }
}


.characterZoneSelector {
  margin: 0;
  padding:0;
  width: 110vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.radio-wrapper.left1,
.radio-wrapper.left2,
.radio-wrapper.right1,
.radio-wrapper.right2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.radio-wrapper.left1 {
  grid-column: 1; /* Colonne de gauche */
  width: 80px;
}
.radio-wrapper.left2 {
  grid-column: 2; /* Colonne de gauche */
  width: 80px;
}
.radio-wrapper.right1 {
  grid-column: 4; /* Colonne de droite */
  width: 80px;
}
.radio-wrapper.right2 {
  grid-column: 5; /* Colonne de droite */
  width: 80px;
}
main#carousel {
  margin: 20px 5px;
  grid-row: 1;
  grid-column: 3;
  width: 600px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  perspective: 45px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

div.card {
  position: absolute;
  transition: all 330ms linear;
}

div.card:nth-of-type(1) {
  --offset: 1;
}
div.card:nth-of-type(2) {
  --offset: 2;
}
div.card:nth-of-type(3) {
  --offset: 3;
}
div.card:nth-of-type(4) {
  --offset: 4;
}
div.card:nth-of-type(5) {
  --offset: 5;
}
div.card:nth-of-type(6) {
  --offset: 6;
}
div.card:nth-of-type(7) {
  --offset: 7;
}
div.card:nth-of-type(8) {
  --offset: 8;
}
div.card:nth-of-type(9) {
  --offset: 9;
}
div.card:nth-of-type(10) {
  --offset: 10;
}
div.card:nth-of-type(11) {
  --offset: 11;
}
div.card:nth-of-type(12) {
  --offset: 12;
}
div.card:nth-of-type(13) {
  --offset: 13;
}
div.card:nth-of-type(14) {
  --offset: 14;
}
div.card:nth-of-type(15) {
  --offset: 15;
}
div.card:nth-of-type(16) {
  --offset: 16;
}
div.card:nth-of-type(17) {
  --offset: 17;
}
div.card:nth-of-type(18) {
  --offset: 18;
}
div.card:nth-of-type(19) {
  --offset: 19;
}
div.card:nth-of-type(20) {
  --offset: 20;
}
div.card:nth-of-type(21) {
  --offset: 21;
}
div.card:nth-of-type(22) {
  --offset: 22;
}



.radio-wrapper.left1 input:nth-of-type(1):checked ~ main#carousel {
  --position: 1;
}

.radio-wrapper.left1 input:nth-of-type(2):checked ~ main#carousel {
  --position: 2;
}

.radio-wrapper.left1 input:nth-of-type(3):checked ~ main#carousel {
  --position: 3;
}

.radio-wrapper.left1 input:nth-of-type(4):checked ~ main#carousel {
  --position: 4;
}

.radio-wrapper.left1 input:nth-of-type(5):checked ~ main#carousel {
  --position: 5;
}

.radio-wrapper.left1 input:nth-of-type(6):checked ~ main#carousel {
  --position: 6;
}

.radio-wrapper.left2 input:nth-of-type(7):checked ~ main#carousel {
  --position: 7;
}

.radio-wrapper.left2 input:nth-of-type(8):checked ~ main#carousel {
  --position: 8;
}

.radio-wrapper.left2 input:nth-of-type(9):checked ~ main#carousel {
  --position: 9;
}

.radio-wrapper.left2 input:nth-of-type(10):checked ~ main#carousel {
  --position: 10;
}

.radio-wrapper.left2 input:nth-of-type(11):checked ~ main#carousel {
  --position: 11;
}

.radio-wrapper.right1 input:nth-of-type(12):checked ~ main#carousel {
  --position: 12;
}

.radio-wrapper.right1 input:nth-of-type(13):checked ~ main#carousel {
  --position: 13;
}

.radio-wrapper.right1 input:nth-of-type(14):checked ~ main#carousel {
  --position: 14;
}

.radio-wrapper.right1 input:nth-of-type(15):checked ~ main#carousel {
  --position: 15;
}

.radio-wrapper.right1 input:nth-of-type(16):checked ~ main#carousel {
  --position: 16;
}

.radio-wrapper.right2 input:nth-of-type(17):checked ~ main#carousel {
  --position: 17;
}

.radio-wrapper.right2 input:nth-of-type(18):checked ~ main#carousel {
  --position: 18;
}

.radio-wrapper.right2 input:nth-of-type(19):checked ~ main#carousel {
  --position: 19;
}

.radio-wrapper.right2 input:nth-of-type(20):checked ~ main#carousel {
  --position: 20;
}

.radio-wrapper.right2 input:nth-of-type(21):checked ~ main#carousel {
  --position: 21;
}

.radio-wrapper.right2 input:nth-of-type(22):checked + main#carousel {
  --position: 22;
}

.radio-hidden {
  display: none; /* Cache les boutons radio */
}

.radio-hidden:checked + .radio-avatar {
  border-radius: 10px;
  border-color: white;
  // -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, -3px 14px 41px -2px #FF2121;
  box-shadow: #FFF 0 -1px 4px, rgb(61, 226, 255) 0 -2px 10px, #008cff 0 -10px 20px, rgb(0, 4, 255) 0 -18px 40px, -3px 14px 41px -2px #000154;
}
.radio-hidden:checked + .radio-avatar + main#carousel {
  --position: 2;
}

.radio-avatar {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 5px solid black;
  margin: 10px 0;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

.radio-avatar-img {
width: 150px;
}
