html span {
  font-family: "Nova Square", sans-serif;
  font-weight: bold;
}

.actions-btn-container {
  width: 400px;
  margin: 0 auto;
}
.actions-btn-container .actions-btn {
  border: 2px solid black;
  border-radius: 20px;
  padding: 5px 8px;
  width: 110px;
  text-align: center;
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.actions-btn-container #btn-atk {
  background: yellow;
}
.actions-btn-container #btn-mag {
  background: rgb(223, 107, 223);
}
.actions-btn-container #btn-def {
  background: lightblue;
}
.actions-btn-container .actions-btn-images {
  width: 32px;
  border-radius: 10px;
}

.characters-zones-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.characters-zones-container .spriteUnknown {
  width: 64px;
}
.characters-zones-container .characters-zones-life-bg {
  width: 330px;
  height: 32px;
  border: 3px solid black;
  background: rgba(241, 228, 188, 0.864);
}
.characters-zones-container #cz1 span {
  font-family: "Nova Square", sans-serif;
  font-weight: bold;
  font-size: 20px;
  width: 190px;
  display: block;
  border: 3px solid black;
  background: purple;
  border-top-right-radius: 20px;
  padding-right: 10px;
  color: white;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 2px 2px 2px rgba(206, 89, 55, 0);
}
.characters-zones-container #cz2 .cz2_2 {
  width: 404px;
  display: flex;
  justify-content: right;
}
.characters-zones-container #cz2 span {
  width: 190px;
  text-align: right;
  font-size: 20px;
  font-family: "Nova Square", sans-serif;
  font-weight: bold;
  border: 3px solid black;
  background: purple;
  border-top-left-radius: 20px;
  color: white;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 2px 2px 2px rgba(206, 89, 55, 0);
}
.characters-zones-container #life-1 {
  width: 330px;
  height: 32px;
  background: rgb(0, 162, 255);
  float: right;
}
.characters-zones-container #life-2 {
  width: 330px;
  height: 32px;
  background: green;
}
.characters-zones-container #sprite-1 {
  width: 64px;
  height: 64px;
  border: 3px solid black;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}
.characters-zones-container #player_name-1 {
  font-size: 20px;
  width: 245px;
  height: 24px;
  border: 3px solid black;
  border-bottom-right-radius: 50px;
  padding: 3px 5px;
  background: white;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 2px 2px 2px rgba(206, 89, 55, 0);
  color: white;
}
.characters-zones-container .test2 {
  width: 330px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.characters-zones-container .victory_counter_player1 {
  width: 10px;
  height: 10px;
  border: 3px solid black;
  background: rgb(255, 255, 255);
  margin-top: 5px;
}
.characters-zones-container #sprite-2 {
  width: 64px;
  height: 64px;
  border: 3px solid black;
  border-bottom-right-radius: 20px;
  order: 1;
  overflow: hidden;
}
.characters-zones-container #player_name-2 {
  font-size: 20px;
  order: 3;
  width: 245px;
  height: 24px;
  border: 3px solid black;
  border-bottom-left-radius: 50px;
  padding: 3px 5px;
  background: white;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 2px 2px 2px rgba(206, 89, 55, 0);
  color: white;
  text-align: right;
}
.characters-zones-container .victory_counter_player2 {
  width: 10px;
  height: 10px;
  border: 3px solid black;
  background: rgb(255, 255, 255);
  margin-top: 5px;
  order: 2;
}
.characters-zones-container .testest {
  display: flex;
  align-items: flex-start;
}
.characters-zones-container .characters-zones-sprite2 {
  width: 333px;
  display: flex;
  justify-content: right;
}
.characters-zones-container .characters-zones-versus {
  font-size: 30px;
  width: 300px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.characters-zones-container .characters-zones-versus #versus #img_versus {
  width: 120px;
}

.text-zone-container {
  border: 3px solid black;
  border-radius: 5px;
  background: lightgoldenrodyellow;
  width: 550px;
  height: 90px;
  margin: 20px auto 20px auto;
  padding: 10px;
  font-size: 20px;
}

.textColor_atk {
  color: yellow;
}

.textColor_mag {
  color: rgb(223, 107, 223);
}

.textColor_def {
  color: lightblue;
}

.player_selector-container {
  display: flex;
  justify-content: center;
  width: 400px;
  margin: 0 auto;
}
.player_selector-container .player-portrait {
  width: 70px;
  height: 60px;
  border: 2px solid blue;
  margin: 0 10px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.player_selector-container .player-portrait:hover {
  box-shadow: rgb(32, 125, 175) 0px 8px 24px;
}

.player-confirmation {
  width: 350px;
  height: 50px;
  margin: 20px auto;
  display: none;
  align-items: center;
  justify-content: space-around;
}
.player-confirmation .pc-yes, .player-confirmation .pc-no {
  width: 35px;
  height: 35px;
  border: 1px solid blue;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: rgb(223, 198, 153);
}
.player-confirmation .pc-yes:hover, .player-confirmation .pc-no:hover {
  box-shadow: rgb(32, 125, 175) 0px 8px 24px;
  background: rgb(70, 157, 84);
}/*# sourceMappingURL=style.css.map */